#dashboard {
  color: #fff;
  max-width: 100%;
  margin-top: 8em;
  padding: 3em; }
  #dashboard .welcome {
    font-size: 32px; }
  #dashboard h1 {
    font-size: 28pt; }
  #dashboard .alert-dashboard {
    font-weight: bold; }
    #dashboard .alert-dashboard.alert-info {
      background-color: rgba(217, 237, 247, 0.8); }
      #dashboard .alert-dashboard.alert-info a {
        color: #7b1624; }

.statYes {
  color: #6eff6e; }

.statNo {
  color: #ff3b37; }

.statYes-bg {
  background-color: #4c984c !important; }

.statNo-bg {
  background-color: #982827 !important; }

table tr th {
  text-align: center; }
